# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/
Pipfile.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*

# MyPy / Type check / Lint
.mypy_cache/
.pyre/
.pytype/
ruff_cache/

# macOS
.DS_Store
